.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgb(236, 100, 88) 0%, rgb(225, 60, 54) 100%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &.round {
        border-radius: 5px;
    }
    .dot {
        position: absolute;
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        border: 1px solid rgba(221, 221, 221, 0.767);
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 78%;
            // filter: grayscale(20%);
            opacity: 50%;
        }
    }
}

input:checked + .slider {
    background: linear-gradient(180deg, rgb(67, 198, 167) 0%, rgb(33, 175, 137) 100%);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider .dot {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
